astropy
regions
matplotlib
numpy
bokeh
scipy
dask-ms
owlcat
spimple
ipdb

#SETUP instructions for this environment
#+++++++++++++++++++++++++++++++++++++++++

# see https://casa.nrao.edu/casadocs/casa-6.1.0/imaging/image-analysis/image-selection-parameters


#pip install --index-url https://casa-pip.nrao.edu/repository/pypi-casa-release/simple casatools
#pip install --index-url https://casa-pip.nrao.edu/repository/pypi-casa-release/simple casatasks

